.bg-dark{
    background-color: rgb(56, 56, 56);
}
.text-white{
    color: #f2f2f2;
}
.custom-image{
    border-radius: 20px;
    padding: 10px;
}
.custom-btns > button{
    border-color: #f2f2f2;
    color: white;
    font-weight: bold;
}
.custom-btns > div{
    border-color: #f2f2f2;
}